<!-- Left side column. contains the logo and sidebar -->
<script type="text/javascript">
    function cerrarSesion(){
        swal({
            title: "¿Seguro que desea Cerrar Sesion?",
            text: "No podrás deshacer este paso...",
            //type: "error",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Aceptar",
            closeOnConfirm: false
        },
        function () {
            location.href = "/Home/Index";
        });
    }
</script>
<aside class="main-sidebar navbar-fixed-top">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto; background-color: #A20012;">
        <!-- Sidebar user panel -->
        <!-- search form -->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MENU</li>
            <li class="  treeview">
                <a href="#">
                    <i class="fa fa-cubes"></i><span>Gestion</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" >
                    @*<li class="active"><a href="documento_electronico.html"><i class="fa fa-check"></i>Documento Electronico</a></li>*@
                    <li class="active"><a href="@Url.Action("Index", "DocumentoElectronico")"><i class="fa fa-check"></i>Documento Electronico</a></li>
                    @*<li class="active"><a href="documento_digital.html"><i class="fa fa-check"></i>Documento Digital</a></li>*@
                    <li class="active"><a href="@Url.Action("Index", "DocumentoDigital")"><i class="fa fa-check"></i>Documento Digital</a></li>
                    @*<li class="active"><a href="mesavnuevo.html"><i class="fa fa-check"></i>Mesa Virtual</a></li>*@
                    <li class="active"><a href="@Url.Action("Index", "MesaVirtual")"><i class="fa fa-check"></i>Grupo Virtual</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Busqueda")"><i class="fa fa-check"></i>Busquedas</a></li>
                    <li class="active"><a href="@Url.Action("Index", "LogOperacion")"><i class="fa fa-check"></i>Log Administrativo</a></li>


                </ul>
            </li>


            @*<li class="  treeview">
                <a href="#">
                    <i class="fa fa-hand-o-right"></i><span>Administracion</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Busqueda")"><i class="fa fa-check"></i>Busquedas</a></li>
                    <li><a href="@Url.Action("Index", "LogOperacion")"><i class="fa fa-check"></i>Log Administrativo</a></li>
                </ul>
            </li>*@
            <li class="  treeview">
                <a href="#">
                    <i class="fa fa-pencil"></i><span>Mantenimiento</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="@Url.Action("Index", "Usuario")"><i class="fa fa-check"></i>Usuarios</a></li>
                    <li><a href="@Url.Action("Index", "Personal")"><i class="fa fa-check"></i>Personal</a></li>
                    <li><a href="@Url.Action("Index", "Empresa")"><i class="fa fa-check"></i>Empresa</a></li>
                    <li><a href="@Url.Action("Index", "Acceso")"><i class="fa fa-check"></i>Accesos</a></li>
                    <li><a href="@Url.Action("Index", "Grupo")"><i class="fa fa-check"></i>Grupos</a></li>
                </ul>
            </li>
            <li class="  treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i><span>Configuracion</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class ="active"><a href="@Url.Action("Index", "Concepto")"><i class="fa fa-check"></i>Concepto</a></li>
                    @*<li><a href="@Url.Action("Index", "Empresa")"><i class="fa fa-check"></i>Empresa</a></li>*@
                    <li><a href="@Url.Action("Index", "General")"><i class="fa fa-check"></i>Parámetros</a></li>
                </ul>
            </li>

            @*<li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-power-off" ></i><span>Cerrar Sesión</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
            </li>*@

            <li>
                @*<a data-toggle="modal" data-target="#modal_cerrarsesion">*@
                <a onclick="cerrarSesion()">
                <i class="fa fa-power-off"></i><span>Cerrar Sesión</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
               
            </li>
            
            
        </ul>
    </section>
    <div style="height: 10px"> </div>
    <section class="sidebar" style="height: auto; background-color: #A20012;">
        <!-- Sidebar user panel -->
        <!-- search form -->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li>
                <a href="@Url.Action("Index", "Alertas")">
                    <i class="fa fa-calendar"></i><span>Alertas Recibidas</span>
                    <small class="label pull-right bg-red">@Html.Raw(Session["CantidadAlerta"].ToString())</small>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "DocumentosRecibidos")">
                    <i class="fa fa-envelope"></i><span>Documentos Recibidos</span>
                    <small class="label pull-right bg-yellow">@Html.Raw(Session["CantidadDocumentosRecibidos"].ToString())</small>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "MesaTrabajoVirtual")">
                    <i class="fa fa-users"></i><span>Grupo de Trabajo Virtual</span>
                    <small class="label pull-right bg-orange">@Html.Raw(Session["CantidadMesaVirtual"].ToString())</small>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
