<!-- Left side column. contains the logo and sidebar -->
<script type="text/javascript">
    function cerrarSesion(){
        swal({
            title: "¿Seguro que desea Cerrar Sesion?",
            text: "No podrás deshacer este paso...",
            //type: "error",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Aceptar",
            closeOnConfirm: false
        },
        function () {
            location.href = "/Home/Index";
        });
    }
</script>
<aside class="main-sidebar navbar-fixed-top" ng-app="route">
    <section class="sidebar" style="height: auto; background-color: #A20012;">
        <ul class="sidebar-menu">
            <li class="header">MENU</li>
            <li class="  treeview">
                <a href="#">
                    <i class="fa fa-cubes"></i><span>Gestión</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" >
                    <li class="active"><a href="@Url.Action("Index", "DocumentoElectronico")"><i class="fa fa-check"></i>Documento Electrónico</a></li>
                    <li class="active"><a href="@Url.Action("Index", "DocumentoDigital")"><i class="fa fa-check"></i>Documento Digital</a></li>
                    <li class="active"><a href="@Url.Action("Index", "MesaVirtual")"><i class="fa fa-check"></i>Grupo de Trabajo</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Busqueda")"><i class="fa fa-check"></i>Búsquedas</a></li>
                    <li class="active"><a href="@Url.Action("Index", "LogOperacion")"><i class="fa fa-check"></i>Log Administrativo</a></li>


                </ul>
            </li>

            <li class="  treeview">
                <a href="#">
                    <i class="fa fa-pencil"></i><span>Mantenimiento</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="@Url.Action("Index", "Usuario")"><i class="fa fa-check"></i>Usuarios</a></li>
                    <li><a href="@Url.Action("Index", "Personal")"><i class="fa fa-check"></i>Personal</a></li>
                    <li><a href="@Url.Action("Index", "Empresa")"><i class="fa fa-check"></i>Empresa</a></li>
                    <li><a href="@Url.Action("Index", "Sede")"><i class="fa fa-check"></i>Sede</a></li>
                    <li><a href="@Url.Action("Index", "Acceso")"><i class="fa fa-check"></i>Accesos</a></li>
                    <li><a href="@Url.Action("Index", "Grupo")"><i class="fa fa-check"></i>Listas</a></li>
                </ul>
            </li>
            <li class="  treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i><span>Configuración</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class ="active"><a href="@Url.Action("Index", "Concepto")"><i class="fa fa-check"></i>Concepto</a></li>
                    <li><a href="@Url.Action("Index", "General")"><i class="fa fa-check"></i>Parámetros</a></li>
                </ul>
            </li>

            <li>
                <a onclick="cerrarSesion()">
                <i class="fa fa-power-off"></i><span>Cerrar Sesión</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
               
            </li>
            
            
        </ul>
    </section>
    <div style="height: 10px"> </div>
    <section class="sidebar" style="height: auto; background-color: #A20012;">
        <ul class="sidebar-menu">
            <li>
                <a href="@Url.Action("Index", "Alertas")">
                    <i class="fa fa-calendar"></i><span>Alertas Recibidas</span>
                    <small class="label pull-right bg-red">@Html.Raw(Session["CantidadAlerta"].ToString())</small>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "DocumentosRecibidos")">
                    <i class="fa fa-envelope"></i><span>Documentos Recibidos</span>
                    <small class="label pull-right bg-yellow">@Html.Raw(Session["CantidadDocumentosRecibidos"].ToString())</small>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "MesaTrabajoVirtual")">
                    <i class="fa fa-users"></i><span>Grupos de Trabajo Activos</span>
                    <small class="label pull-right bg-orange">@Html.Raw(Session["CantidadMesaVirtual"].ToString())</small>
                </a>
            </li>

        </ul>
    </section>
</aside>
